/* paletas rojas */

Body {background-color:#ADD8E6;}

header{color: #1A1A97;
text-align: center}



   img{
width; 50px;
height; 50px;
}
h1{
text-align: center;}
h1 tit{color:#FFFFFF;}
h3{color:#64dfdf;}
h2{text-align: center;
font-weight: lighter;
color:#e63946;}
main{
padding:15px;
color: #2b2d42;
background-color: #72efdd; }
nav{list-style-type:none;
color:#FFFFFF;}
nav:hover{background-color:#90EE90;}

a{}
table{
text-align:center;
border-style:solid;
border-width:1px;
border-color:#2C3C93;}
table:hover{background-color:#90EE90;}
div{}
tr{}
td{border-style:solid;
border-width:1px;
border-color:#2C3C93;}
p{line-height: 120%;
word-spacing:8px;
letter-spacing:1px;
font-family:Comic Sans MS,Times New Roman;}
h4{
font-variant: small-caps;
letter-spacing:1px;}
ol{list-style-image:url(../pic/baile9.png);}
ul{list-style-type:none;}
li{}
footer{
background-color: #4ea8de;
color:#2b2d42;}

