/* paletas negras*/

Body {background-color:#00171F;
padding-top: 0px;	
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
margin-top:200px;}

header{
background-color:#00171F;
position: fixed;
z-index: 2020;
width: 100%;
top: 0px;
margin-left: 0;
margin-right: 0;


}
a{

padding:5px;
margin:5px;
color:#1C0D0D;


}
#sed{margin:0;
padding:auto;
width:250px;
display: inline;
margin:5px;
border-radius:12px;
border:4px dasher;

}
#frase{
	font-size: 13px;
	color:#AEE3F9;
	margin-bottom: 5px;
display:inline-block;
padding: 15px;

position:absolute;
text-align: center;

}

nav{
display:inline-block;
position:absolute;
top: 60px;
margin:20px 20px auto 5px;
list-style-type:none;
background-color:#C2D1DF;
font-size: 20px;
color:#265783;
padding:20px;

border-radius:12px;
text-align:rigth;}

#lista:hover{background-color:#FFFFFF;
padding: 25px;
}



img{margin-left:auto;
border-radius:12px;
width: 450px;
padding: 5px;
Margin-right:auto;}

#a,#b,#c,#d{
	opacity: 0,4;
	border-radius: 12px;
}

b{ 
padding:20px;
}
h1{
display:inline;
text-align: center;
padding:50px;
margin:40px;
}
h1 tit{color:#FFFFFF;}
h3{color:#64dfdf;}
h2{text-align: center;
font-weight: lighter;
color:#534EE9;}

main{
padding:25px;
color: #2b2d42;
background-color: #AEE3F9; 
border-radius: 12px;
margin-left: auto;
Margin-right: auto;}


	
}

a{}
table{
text-align:center;
border-style:solid;
border-width:1px;
border-color:#2C3C93;}
table:hover{background-color:#90EE90;}
div{}
tr{}
td{border-style:solid;
border-width:1px;
border-color:#2C3C93;}
p{line-height: 100%;
word-spacing:8px;
letter-spacing:1px;
font-family:Comic Sans MS,Times New Roman;}
h4{
font-variant: small-caps;
letter-spacing:1px;}
ol{list-style-image:url(../pic/baile9.png);}
ul{list-style-type:none;}
li{}
footer{
color:#ADD8E6;
}

