/* paletas negras*/

Body {background-color:#00171F;
padding: 20px;
margin-top:200px;}

header{
background-color:#000000;
position: fixed;
z-index: 2020;
width: 100%;
top: 5px;
transform: translateY(0);
}
a{

padding:5px;
margin:5px;
color:#1C0D0D;


}
#sed{margin:0;
padding:auto;
width:300px;
display: inline;
margin:5px;
border-radius:12px;
border:4px dasher;

}
#frase{
display:inline-block;
padding:10px;
position:absolute;

}

b{ 
padding:20px;
}
h1{
display:inline;
text-align: center;
padding:50px;
margin:40px;
}
h1 tit{color:#FFFFFF;}
h3{color:#64dfdf;}
h2{text-align: center;
font-weight: lighter;
color:#534EE9;}
main{
padding:25px;
color: #2b2d42;
background-color: #AEE3F9; 
border-radius: 12px;
margin-left: auto;
Margin-right: auto;}

nav{
display:inline-block;
position:absolute;
top:30px;
list-style-type:none;
background-color:#C2D1DF;
color:#265783;
padding:20px;
margin:20px 5px;
border-radius:12px;
text-align:rigth;}
nav:hover{background-color:#FFFFFF;
padding: 25px;
}


img{margin-left:auto;
Margin-right:auto;}

a{}
table{
text-align:center;
border-style:solid;
border-width:1px;
border-color:#2C3C93;}
table:hover{background-color:#90EE90;}
div{}
tr{}
td{border-style:solid;
border-width:1px;
border-color:#2C3C93;}
p{line-height: 120%;
word-spacing:8px;
letter-spacing:1px;
font-family:Comic Sans MS,Times New Roman;}
h4{
font-variant: small-caps;
letter-spacing:1px;}
ol{list-style-image:url(../pic/baile9.png);}
ul{list-style-type:none;}
li{}
footer{
color:#ADD8E6;
}

